 a {
    color:rgb(109, 64, 9);
 }
 
 body {
    font-family: Calibri;
 } 

ul {
    display: inline;
    padding: 10px 16px;
    list-style: none;
    text-align: center;
}


h1, h2 {
    font-family: Calibri;
    font-size: 50px;
    font-weight: bold;
    color: rgb(170, 74, 36);
    text-align: center;
    background-color: rgba(255, 212, 163, 0.60);
}

h2 {
    font-size: 32px;

}

p {
    color:rgb(109, 64, 9);
    background-color: rgba(255, 212, 163, 0.45);
}

header {
    text-align: center;
}

figcaption {
    text-align: center;
    color:rgb(109, 64, 9);
}

.kitchen, .laundry, .quicksand {
    height: 25%;
    width: 25%;
    margin: auto;
    display: block;
}


/* Can't get the .map to behave like the rest. I originally 
had it inside the one above with the rest. I tried % for height
& width too.*/
.map {
    height: 200px;
    width: 200px;
    margin: auto;
    display: block;
    align-items: right; 
}

 #quicksand {
    height: 300px;
    width: 150px;
    margin: auto;
    display: block;
} 

.guide {
    margin: auto;
    display: block;
}

.airbnb, .airbnboutdoor {
    height: 50%;
    width: 50%;
    margin: auto;
    display: block;
}

#zion, #map{
    margin: auto; 
    display: block;
    
}

#background {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-image: url('../../images/zion.jpg');
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.4;
    filter:alp; 
    z-index: -1000;
}